<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>KnockKnock | Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato"> 
</head>

<body>
  <header id='mhead'>
    <h1>KnockKnock</h1>
    <nav>
      <a href="home">Home</a>
      <a href="post">Post</a>
    </nav>
  </header>
  <div id=top></div>
  <div class="container"><a href="C:\CodeProjects\KnockKnock\Test\Prototype\images\mowinglawnresized.png" id='imgl'> 
    <img src="{{ url_for('static', filename='mowinglawnresized.png' ) }}" alt="Job #1" id='mainimg'>
      <div id="imgm" class="centered">Job #1</div>
  </a></div>
  <div class="container"><a href="C:\CodeProjects\KnockKnock\Test\Prototype\images\mowinglawnresized.png" id='img2'>
    <img src="{{ url_for('static', filename='mowinglawnresized.png' ) }}" alt="Job #2" id='mainimg'>
      <div id="imgm" class="centered">Job #2</div>
  </a></div>
  <div class="container"><a href="C:\CodeProjects\KnockKnock\Test\Prototype\images\mowinglawnresized.png" id='img3'>
    <img src="{{ url_for('static', filename='mowinglawnresized.png' ) }}" alt="Job #3" id='mainimg'>
      <div id="imgm" class="centered">Job #3</div>
  </a></div>
  <div class="container"><a href="C:\CodeProjects\KnockKnock\Test\Prototype\images\mowinglawnresized.png" id='img4'>
    <img src="{{ url_for('static', filename='mowinglawnresized.png' ) }}" alt="Job #4" id='mainimg'>
      <div id="imgm" class="centered">Job #4</div>
  </a></div>
  <div id="abt"><h2>About Us</h2></div><div id="us"><p id='abt-text'>
   KnockKnock is a website that allows teenagers with side hustles, local businesses, or odd jobs to advertise themselves to neighbors and their community. Founded in 2022 in Naperville Central's Business INCubatoredu class, this website streamlines not only the advertising process for teenagers but also the process for parents to find teenagers in the community willing to help.
    </p>
  </div>
  <footer>
    <p><a href='#top'>Back to Top</a></p>
  </footer>
</body>

</html>
